.mat-list {
  width: 15rem;
  margin-left: 5rem;
  cursor: pointer;
}

.mat-list-item {
  height: auto;
  padding: 1rem;
}

.side-container {
  display: flex;
  justify-content: space-between;
  min-width: 41rem;
}

/** Responsive CSS */

@media(max-width: 1024px) {
  .mat-list {
    width: 12rem;
  }
  .side-container {
    min-width: 34rem;
  }
}

@media(max-width: 768px) {
  .mat-list {
    width: 10rem;
    margin-left: 3rem;
  }
  .side-container {
    min-width: 26rem;
  }
}

@media(max-width: 600px) {
  .side-container{
    margin-top: 2rem;
  }
}
