<section class="container">
  <section class="users">
    <mat-list role="list">
      <section class="header">
        <i class="material-icons">
          account_circle
        </i>
        <h3 mat-subheader>{{title}}</h3>
      </section>

      <mat-list-item role="listitem" *ngFor="let user of userData$" (click)="showAlbums(user.id)">
        {{user.name}}
        <div class="icon">
          <mat-icon matSuffix>play_arrow</mat-icon>
        </div>
      </mat-list-item>
    </mat-list>
  </section>
  <section class="albums">
    <app-albums *ngIf="userId" [userId]="userId"></app-albums>
  </section>
</section>
