.mat-list-item {
  width: 15rem;
  height: auto;
}

.mat-list {
  margin-left: 5rem;
}

table {
  width: 100%;
}

.container {
  width: 100%;
}

.title {
  text-align: center;
  margin: 1rem;
}

.photoList {
  height: 60rem;
  overflow: scroll;
}

.photo {
  display: flex;
  justify-content: center;
  margin: 1rem;
}
/** Responsive CSS */

@media(max-width: 1024px) {
    .mat-list-item{
      width: 12rem;
    }
  }
  @media(max-width: 1024px) {
    .mat-list-item{
      width: 10rem;
    }
    .mat-list {
        margin-left: 3rem;
      }
  }