<section class="side-container">
  <section class="album-list">
    <mat-list role="list">
      <section class="header">
        <i class="material-icons" appCardColor>
          album
        </i>
        <h3 mat-subheader>{{title}}</h3>
      </section>
      <mat-list-item role="listitem" *ngFor="let album of albums" (click)="showPhotos(album.id)">
        {{album.title}}
        <div class="icon">
          <mat-icon matSuffix>play_arrow</mat-icon>
        </div>
      </mat-list-item>
    </mat-list>
  </section>
  <section class="photos">
    <app-photos *ngIf="albumId" [albumId]="albumId"></app-photos>
  </section>
</section>
